@import "tailwindcss";

@media print {
  body {
    background: #fff !important;
    color: #000 !important;
    font-size: 12pt;
  }

  header,
  footer,
  section {
    page-break-inside: avoid;
  }

  a::after {
    content: " (" attr(href) ")";
    font-size: 10pt;
    color: #555;
  }

  .no-print {
    display: none;
  }
}